@charset 'utf-8';

body{
	margin:10px;
	border:0;
	padding:0;
}

.hide {display:none !important;}

#canvas, #kinetic {
	display:block;
	margin-right:auto;
	margin-bottom:10px;
	margin-left:auto;
	border:1px solid #999;
	width:400px;
	height:400px;
}