DirectoryIndex index.html.var index.htm index.html index.shtml index.xhtml index.wml index.perl index.pl index.plx index.ppl index.cgi index.jsp index.js index.jp index.php4 index.php3 index.php index.phtml default.htm default.html home.htm index.php5 Default.html Default.htm home.html

Redirect /burgg       /projects/burgg
Redirect /dd          /projects/dd
Redirect /movies      /projects/burgg
Redirect /nerd        /projects/nerd/turnarounds
Redirect /pain        /projects/pain
Redirect /portfolio   /projects/portfolio

Redirect /demon       /minicomics/demons
Redirect /demons      /minicomics/demons
Redirect /favor       /minicomics/favor
Redirect /ford        /minicomics/ford
Redirect /happy       /minicomics/happy/1
Redirect /happy1      /minicomics/happy/1
Redirect /happy2      /minicomics/happy/2
Redirect /happy3      /minicomics/happy/3
Redirect /happy4      /minicomics/happy/4
Redirect /happy5      /minicomics/happy/5
Redirect /lincoln     /minicomics/lincoln
Redirect /mk          /minicomics/mortal-combat
Redirect /potential   /minicomics/potential
Redirect /rangers     /minicomics/rangers
Redirect /yearbook    /minicomics/yearbook

Redirect /king        /minicomics/king
Redirect /kittenberg  /minicomics/kittenberg

Redirect /starwars    /games/js/starwars
Redirect /skate       /games/js/spriteboard

Redirect /bearpursuit /games/flash/bearpursuit
Redirect /berrics     /games/flash/berrics
Redirect /fortfisher  /games/flash/fortfisher
Redirect /kungfu      /games/flash/kungfu
Redirect /pacman      /games/flash/pacman
Redirect /tecmo       /games/flash/tecmo
Redirect /tetris      /games/flash/mattris
Redirect /mattris     /games/flash/mattris

Redirect /list        /projects/react/list
Redirect /calendar    /projects/list/calendar

RedirectMatch /comics/(\d+)          /comics/index.php?id=$1
RedirectMatch /comics/old/(\d+)      /comics/old/index.php?id=$1
RedirectMatch /comics/jam/(\d+)      /comics/jam/index.php?id=$1
RedirectMatch /comics/deadhays/(\d+) /comics/deadhays/index.php?id=$1
RedirectMatch /drawings/(\d+)        /drawings/index.php?id=$1
RedirectMatch /burgg/(\d+)           /projects/burgg/index.php?id=$1
RedirectMatch /pain/(\d+)            /projects/pain/index.php?id=$1

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php54 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
